<h2><%="#{current_user.name}さんのクチコミ履歴"%></h2>
<% if current_user.id == @user.id %>
  <div class="container">
  <% @user.reviews.each do |review| %><p>
    <div class="card">
      <%= link_to review.shop.name, shop_path(review.shop.id) %>:<%= review.content %>
    </div>
    <% end %>
  </div>
<% end %>
