/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 .navbar-dark {
   background-color: black;
   /* background-color: #ED6044; */
 }
 body{
   background: #F8F8FA;
   text-align:center;
 }
/* sign_in */
 .card.auth-card {
   background: #fff;
   width: 440px;
   max-width: 100%;
   padding: 20px;
   margin: 10px auto;
   text-align:center;
   padding: 40px 60px;
 }
 .btn-info {
   margin-top: 20px;
 }
 .row {
   margin: auto;
 }
 .btn-block {
   display: block;
 }
 .card.owner-card {
   background: #fff;
   width: 600px;
   max-width: 100%;
   padding: 20px;
   margin: 10px auto;
   text-align:center;
   padding: 40px 60px;
 }
/* shop_index */
 .shop-index-top {
   background-image: url("jordan-nix-4Hmj9gkyM6c-unsplash.jpg");
   background-size: cover;
 }
 #top {
   height: 400px;
 }
 #index-search{
   margin-top: 30px;
 }
 section {
   padding: 60px 50px;
 }
 #find-shop {
   font-family: 'HiraKakuPro-W6';
   color: white;
   text-shadow: 1px 0 5px black;
 }
 #find-shop-sub {
   color: white;
   text-shadow: 1px 0 5px black;
 }
 .shop_search {
   margin: 50px;
 }
 .btn-danger {
   margin-top: 20px;
   padding: 5px 60px
 }
 #new_shop_card {
   padding: 40px;
 }
 #show-container {
   background: white;
 }
 .new-shop-field {
   margin-top: 18px;
 }
.btn-sm {
  margin-bottom:10px;
}
.review-post {
   padding: 15px 25px;
   margin-bottom: 10px;
   border: solid 1px #e3dede;
   border-radius: 5px;
   background-color: white;
   box-shadow: 2px 2px 4px #a3a1a1;
}
 /* notice */
.alart {
  background: red;
}
.notice {
  background: gold;
}

label {
  display: block;
}
label.required:after {
  margin-left: 1.0em;
  padding: 0px 6px 0px 6px;
  border-radius: 4px;
  font-size: 0.6em;
  color: white;
  background-color: #C44;
  content: "必須";
}
/* star */
 .evaluation{
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
 }
 .evaluation input[type='radio']{
   display: none;
 }
 .evaluation label{
   position: relative;
   padding: 10px 10px 0;
   color: gray;
   cursor: pointer;
   font-size: 50px;
 }
 .evaluation label .text{
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   text-align: center;
   font-size: 12px;
   color: gray;
 }
 .evaluation label:hover,
 .evaluation label:hover ~ label,
 .evaluation input[type='radio']:checked ~ label{
   color: #ffcc00;
 }
