<h1>REVIEW PORICY APPALOG</h1>
<div class="container-fluid">
  <div class="card" style="text-align:left;">
    <h5>クチコミするにあたってのお願い</h5>
    <p>口コミを投稿する際は、必ず「他の人が読んで、参考になること」を心がけていただき、お店に関する感想を具体的に記述するようお願いいたします。</p>
  </div>
</div>
