<br><h4 style="font-family: 'HiraKakuPro-W6';">※店主専用</h4>

<%= render "shared/session"%>

一般<%= link_to 'ログインに戻る', new_user_session_path %><br>
店主新規登録は<%= link_to 'こちら', new_owner_registration_path %>

<!-- <%= render "owners/shared/links" %> -->
