<h2>店主ログイン</h2>

<%= render "shared/session"%>

<%= link_to '一般ログイン', new_user_session_path %><br>
<%= link_to '店オーナー新規登録はこちら', new_owner_registration_path %>
<!-- <%= render "owners/shared/links" %> -->
